<div class="row hello" data-controller="controller-test">
  <% @flats.each do |flat| %>
    <%= link_to flat_path(flat) do %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <div class="card-category" data-aos="zoom-in">
          <% flat.images.each do |image| %>
            <%= image %>
          <% end %>
        </div>
        <%= flat.name %>
      </div>
    <% end %>
  <% end %>
</div>
