

<div class="banner" style="background-image: url('<%= image_path "background_accueil.jpg" %>');">
  <div class="container">
    <h1>Trouvez la résidence et les services qui vous conviennent en fonction de <strong>VOS CRITERES !</strong></h1>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
