

<div class="banner" style="background-image: url('<%= image_path "background.jpg" %>');">
  <div class="container">
    <h1>Trouvez la résidence et les services qui vous conviennent en fonction de <strong>VOS CRITERES !</strong></h1>
    <%= link_to flats_path do %>
    <button class="btn btn-flat">Laissez-vous guider</button>
    <% end %>
  </div>
</div>
